body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black; /* Fondo negro */
    color: white; /* Texto blanco */
}

header {
    text-align: center;
    background-color: #270f02;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

.main {
    text-align: center;
}

.image__container {
    text-align: center;
}

.image__container img {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
}

@media (min-width: 768px) {
    .image__container {
        max-width: 600px;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .image__container {
        max-width: 800px;
    }
}

/* Estilos base para el botón */
.cta {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333; /* Color de fondo del botón */
    color: #ffffff; /* Color del texto */
    text-decoration: none; /* Quita el subrayado del enlace */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
}

/* Estilos cuando el cursor pasa sobre el botón */
.cta:hover {
    background-color: #555; /* Cambia el color de fondo cuando el cursor pasa sobre el botón */
}

